* {
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
  
  :root {
    --navbar-height: 59px;
  }
  .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 33%;
    border: 2px solid #8d009d;
    border-radius: 50px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
  }
  
  .nav-list {
    width: 70%;
    display: flex; 
  }
  
  .nav-list li {
  
    list-style: none;
    padding: 2px 6px;
  }
  
  .nav-list li a {
  
    text-decoration: none;
    color: #8d009d;
  }
  
  .nav-list li a:hover {
    color: #ffff;
  }
  
  .rightNav {
    width: 90;
    text-align: right;
  }
  
  #search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid #ffff;
    border-radius: 9px;
  }
  
  .background {
    background: #ffff;
    background-blend-mode: darken;
    background-size: cover;
  }
  
  
  
  .box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8d009d;
    width: 600px;
    margin-left: 100px;
    height: 500px;
  }
  
  .firstHalf {
    
    
    flex-direction: column; 
    justify-content: center;
    
    

  }
  
  
  
  .text-big {
  
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
  
  .text-small {
    font-size: 50px;
  
  }
  
  #service {
    margin: 34px;
    display: flex;
  }
  
  #service .box {
    padding: 100px;
    margin: 3px 6px;
    border-radius: 28px;
  }
  
  #service .box img {
    margin-top: 10px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 200px;
  }
  
  #service .box p {
  
  
    text-align: center;
  }
  
  #services {
    margin: 34px;
    display: flex;
  }
  
  #services .box {
  
    padding: 100px;
    margin: 3px 6px;
    border-radius: 28px;
  }
  
  #services .box img {
    margin-top: 10px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 100px;
  }
  
  #services .box p {
  
  
    text-align: center;
  }
  
  .btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid #9ae55e;
    border-radius: 8px;
    background: none;
    color: #9ae55e;
    cursor: pointer;
  }
  
  .btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
  }
  
  .center {
    text-align: center;
    font-size: 20px;
  }
  
  .text-footer {
    text-align: center;
    padding: 10px 0;
  
    display: flex;
    justify-content: center;
    color: #ffff;
  }
  
  .circular-image {
    width: 210px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 35px;
    margin-top: 10px;
  }
  
  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fundador{
    margin-top: 200px;
    margin-left: 100px;
  }
  .circular-image-2{
    width: 400px;
    height: 400px;
    border-radius: 50%;

    margin-left: 855px;
    margin-top: -450px;

  }
  .circular-image-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .background-f{
    background-color: #8d009d;
  }
  .card-body{
    background-color: #8d009d;
  }
  .card-1{
    margin-left: 50px;
    margin-top: 20px;
  }
  .card-2{
    
    margin-top: -520px;
    margin-left: 420px;
    
  }
  
  .card-3{
    
    margin-top: -470px;
    margin-left: 790px;
   
  }
  
  .card-4{
    
    margin-top: -470px;
    margin-left: 1170px;
   
  }
  
  
  .todas-cartas{
    
    background-color: #9ae55e;
    width: 100%;
    height: 600px;
    margin-top: 100px;
    
    
    
    
  }
  
  .card-body{
    text-align: center;
    height: 200px;
    width: 300px;
    
  }
  
  .text-big-2,.text-big-1,.text-big-3,.text-big-4{
    font-size: 25px;
    color: #9ae55e;
  }
  
  
  
  .img2,.img1,.img3,.img4{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 20px;
    
   
  }
  
  .boton-verde {
    background-color: #9ae55e;
    
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
  }
  .boton-verde:hover {
    transform: scale(1.1); 
  }
  
  .enlace{
    text-decoration: none;
    color: #8d009d;
  }
  
  .card-text{
    color: white;
  }
  
  .cont-img{
    background-color: #8d009d;
    width: 300px;
    
  }
  .text-big7{
  
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    top: 20px;
    margin-left: 250px;
    color: #8d009d;
  }
  
  .background-f{
    margin-top: 50px;
  }